.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.tama{
 
  background-color:cadetblue;
  padding: 20px;
  border-radius: 10px;
 
}
img {
  width: 50%;
  height: 50px;

 
}


.columnita{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  border-radius: 10px;
  padding: 30px;
  background-color: cadetblue;
 

 
}

ul {
  list-style: none;
}